<div ng-app="searchBarApp">
  <div ng-controller="searchCtrl as ctrl">
    <mat-toolbar color="primary">
      <!-- Pre-Search Bar -->
      <div id="search-bar" ng-show="ctrl.showPreSearchBar()" class="md-toolbar-tools">

        <h2>Search Bar App</h2>
        <span flex></span>

        <!-- Search button (initiates search) -->
        <button mat-button ng-click="ctrl.initiateSearch()">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>

      </div>

      <!-- Search bar -->
      <div ng-show="ctrl.showSearchBar()" class="search-bar">

        <button mat-button class="md-icon-button" ng-click="ctrl.submit()">
          <mat-icon>search</mat-icon>
        </button>

        <!-- Input Text -->
        <mat-form-field>
          <!-- <label for="search">Search</label> -->
          <input matInput id="search-input" type="text" ng-model="search" />
          <button mat-button class="md-icon-button" ng-click="ctrl.endSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </mat-toolbar>
  </div>
</div>